# Python

# 1.Write a program using list comprehension to find primes 
in range 2 to 100.

In [17]:
prime=[2,3,5,7]+[i for i in range(2,101) if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0]
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# 2.Write a function to reverse a string

string='reverse a string'

In [1]:
string=input('Enter a word here: ')

string[::-1]

Enter a word here: Apple

'elppA'

# 3.Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

Output: ['Monday', 'Sunday', 'Saturday'

In [1]:
 Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

In [20]:
Output = []
for i in range(0,5):
    if Days[i][0]==Days[i][0].upper():
        Output.append(Days[i])
Output

['Monday', 'Sunday', 'Saturday']

# 4.Write a program to extract the year part from the dates in 
the given list.

Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

Output: ['1997','2011','1993','2020']

In [21]:
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

In [33]:
output=[]
for i in Batch:
    output.append(i[6:])
output

['1997', '2011', '1993', '2020']

# 5.Write a program swap the keys to values and values to keys of the given dictionary. 

Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 

Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [7]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}

In [33]:
Output={}
Output= {v:k for k,v in Module.items()}
Output

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

# 6.Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. 

Do not count the white spaces.

my_string = 'Data Science'

In [ ]:
my_string = 'Data Science'
a=input('enter a string')
count=0
for i in a:
    if i!=my_string:
        count+=1
print(count)
            
        
    #had a difficulty in this question

# 7.Define a function to check whether a number is in a range (1000,10000) or not.

In [12]:
def check_range(n):
    if n in range(1000,10001):
        print('Yes the given number',n,'is in above range')
    else:
        print('No the given number',n,'is not in above range')
check_range(1001)

Yes the given number 1001 is in above range

In [11]:
check_range(785)

No the given number 785 is not in above range

8.Write a program to calculate the sum of all elements in the list.

test_score = [10, 32, 23, 14, 25]

In [20]:
Test_score = [10, 32, 23, 14, 25]
Total=sum(Test_score)
print('the sum of all elements in the list is',Total)

the sum of all elements in the list is 104

# 9.Replace all even numbers in the array with -1.

Use the array given below num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [3]:
import numpy as np

In [13]:
 a= np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [38]:
a1=[]
for i in a:
    if i%2==0:
        a1.append(i ==-1)
    else:
        a1.append(i)
print(a1)

[-1, 21, False, 13, False, 45, False, False, False, False, 65, False, False]

# 10.Find the minimum value along each of the rows. 

Create a 2D Numpy array from list of lists 

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [40]:
Score= np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [42]:
Score

array([[210, 402, 383],
       [140, 375, 106],
       [140, 125, 217],
       [292, 240, 295]])

In [48]:
Score.ndim

2

In [65]:
a=np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])
a2=[]
for i in a:
    a2.append(i.min())
a2

[210, 106, 125, 240]